<%= form_with model: patient do |f| %>
  <div class="register">
    <div>
      <%= f.label :medical_record_number, "カルテ番号", class:"label_name" %><br>
      <%= f.text_field :medical_record_number, autofocus: true, autocomplete: "number", placeholder:"number",class:"patient_pass" %>
    </div>

    <div>
      <%= f.label :name, "名前", class:"label_name" %><br>
      <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder:"name",class:"patient_pass" %>
    </div>

    <div>
      <%= f.label :phone_number, "電話番号", class:"label_name" %><br />
      <%= f.text_field :phone_number, autofocus: true, autocomplete: "phone_number", placeholder:"phone_number",class:"patient_pass" %>
    </div>

    <div>
      <%= f.label :warn, "注意すること", class:"label_name" %><br />
      <%= f.text_area :warn, autofocus: true, autocomplete: "warn", class:"patient_pass" %>
    </div>

    <div>
      <%= f.label :radio_button, "治療内容", class:"label_name" %><br />
      <%= f.radio_button :maintenance_or_treatment, "メンテ中" %>メンテ中 or <%= f.radio_button :maintenance_or_treatment, "治療中" %>治療中
    </div>

    <div>
      <%= f.label :visit_date, "来院日" %><br>
      <%= f.date_field :visit_date %>
    </div>

    <div class="patient_submit">
      <p><%= f.submit "登録する", class:"button" %></p>
    </div>

    <div class="form-home">
      <p><%= link_to "ホームへ戻る", root_path %></p>
    </div>
  </div>
<% end %>
