<div class = "login_view">
  <h2 class ="title">Login Form</h2>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <form>
        <div class = "login_item">
          <%= f.email_field :email, autofocus: true, autocomplete: "email",placeholder:"Email" ,class:"login-pass" %>
        </div>

        <div class = "login_item">
          <%= f.password_field :password, autocomplete: "current-password",placeholder:"Password", class:"login-pass" %>
        </div>
      </form>

      <ul class="login-submit">
        <li><%= f.submit "ログイン", class:"submit-login"%></li>
        <li><%= link_to "新規アカウント作成", new_user_registration_path, class:"new_acount_make" %></li>
      </ul>
    <% end %>
</div>
