<div class= "login_view">
  <h3 class="about-title">カルテメモアプリ</h3>
  <div class="purpose">
    <p>紙カルテに記入する時間、</p>
    <p>電話をいただいた際紙カルテを</p>
    <p>探す手前を省くため</p>
    <p>１クリックで職種関係なく情報共有できるよう</p>
    <p>仕事の効率化と診察記録を残すアプリです。</p>
    <p>簡単に患者名入れるだけで検索ができます。</p>
  </div>
  
  <h2 class ="title">Login Form</h2>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="login_from">
      <div>
        <%= f.email_field :email, autofocus: true, autocomplete: "email",placeholder:"Email", class:"login-pass" %>
      </div>

      <div>
        <%= f.password_field :password, autocomplete: "current-password",placeholder:"Password", class:"login-pass" %>
      </div>

      <div class="submit_login">
        <p><%= f.submit "ログイン", class:"button" %></p>
      </div>

      <div class="form-home">
        <p><%= link_to "新規アカウント作成", new_user_registration_path %></p>
      </div>
    </div>
  <% end %>
</div>

