<div class="account_view">
  <h2 class="title">患者登録</h2>
  <%= form_with model: @post do |f| %>
   <div class="edit-register">
      <%= f.label :medical_record_number, "カルテ番号" %><br>
      <%= f.text_field :medical_record_number, autofocus: true, autocomplete: "number",placeholder:"number",class:"edit_pass" %>
    </div>

    <div class="edit-register">
      <%= f.label :name, "名前" %><br>
      <%= f.text_field :name, autofocus: true, autocomplete: "name",placeholder:"name",class:"edit_pass" %>
    </div>

    <div class="edit-register">
      <%= f.label :phone_number, "電話番号" %><br />
      <%= f.text_field :phone_number, autofocus: true, autocomplete: "phone_number",placeholder:"phone_number",class:"edit_pass" %>
    </div>

    <div class="edit-register">
      <%= f.label :warn, "注意すること" %><br />
      <%= f.text_area :warn, autofocus: true, autocomplete: "warn", class:"edit_pass" %>
    </div>

    <div class="edit-register">
      <%= f.label :radio_button, "治療内容" %><br />
      <%= f.radio_button :maintenance_or_treatment, "メンテ中" %>メンテ中 or <%= f.radio_button :maintenance_or_treatment, "治療中" %>治療中
    </div>

    <div class="edit-register">
      <%= f.label :visit_date, "来院日" %><br>
      <%= f.date_field :visit_date %>
    </div>

    <ul class="edit_submit">
      <li><%= f.submit "編集を完了する", class:"submit_register_edit" %></li>
      <li><%= link_to "ホームへ戻る", root_path, class:"submit_home" %></li>
    </ul>
  <% end %>
</div>
