<h3>登録者一覧</h3>
<table>
  <thead>
    <tr>
      <th>カルテ番号</th>
      <th>名前</th>
      <th>電話番号</th>
      <th>注意すること</th>
      <th>治療内容</th>
      <th>来院日</th>
      <th>詳細</th>
      <th>編集</th>
      <th>削除</th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.medical_record_number %></td>
        <td><%= post.name %></td>
        <td><%= post.phone_number %></td>
        <td><%= post.warn %></td>
        <td><%= post.maintenance_or_treatment %></td>
        <td><%= post.visit_date %></td>
        <td><%= link_to "詳細", post %></td>
        <td><%= link_to "編集", edit_post_path(post.id) %></td>
        <td><%= link_to "削除", post, method: :delete, data: { confirm: "本当に削除しますか？" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
