<header>
  <nav>
    <ul>
      <% if user_signed_in? %>
        <li><%= link_to "-about-", home_about_path %></li>
        <li><%= link_to "myアカウント" , account_path %></li>
        <li><%= link_to "アカウント編集" , edit_account_path %></li>
        <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to "ログイン", "/users/sign_in" %></li>
        <li><%= link_to "新規登録", "/users/sign_up" %></li>
      <% end %>
    </ul>
  </nav>
</header>

