<div class="account_view">
  <h2 class="title">アカウント編集</h2>
  <%= form_with model: @user, url: account_path do |f| %>
    <%= render "devise/shared/error_messages", resource: @user %>
    <div class="register">
      <div>
        <%= f.label :username, "アカウント名" %><br>
        <%= f.text_field :username, autofocus: true, autocomplete: "account",placeholder:"account",class:"edit_pass" %>
      </div>

      <div>
        <%= f.label :email, "メールアドレス" %><br>
        <%= f.email_field :email, autofocus: true, autocomplete: "email",placeholder:"email",class:"edit_pass" %>
      </div>

      <div>
        <%= f.label :password, "新しいパスワード" %><br />
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %>文字以上に設定してください)</em><br />
        <% end %>
        <%= f.password_field :password, autofocus: true, autocomplete: "new-password",  class: "edit_pass" %>
      </div>

      <div>
        <%= f.label :password_confirmation, "新しいパスワードの確認" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password",  class: "edit_pass" %>
      </div>

      <div class="edit_submit">
        <p><%= f.submit "更新", class:"button" %></p>
      </div>

      <div class="form-home">
        <p><%= link_to "ホームへ戻る", root_path %></p>
      </div>
    </div>
  <% end %>
</div>
